<%= form_with model: post, class: "flex flex-col gap-4" do |form| %>
  <%= render "form_errors", record: form.object %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div data-controller="character-counter" data-character-counter-max-length-value="<%= Post::CONTENT_MAX_LENGTH %>">
    <%= form.label :content %>
    <%= form.text_area :content,
                       data: {
                        character_counter_target: "input",
                        action: "input->character-counter#updateCounter"
                      } %>
    <div data-character-counter-target="counter" class="text-sm text-gray-500 mt-1"></div>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.collection_select :status, Post.statuses, :first, :first, {}, class: "block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: true }, class: "block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
<% end %>
